@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;1,300;1,400&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  background-color: #fbfaf8;
  color: black;
}

html {
  font-size: 10px;
}

@media (min-width: 1400px) {
  body {
    font-size: 2.5rem;
    line-height: 1.8;
  }
}

h1 {
  font-size: 6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

@media (max-width: 400px) {
  h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 7rem;
  }
}

h2 {
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding-bottom: 5rem;
}

h3 {
  text-align: center;

}

@media (min-width: 1400px) {
  h2 {
    font-size: 4rem;
  }
}

blockquote {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 8rem;
}

@media (min-width: 1400px) {
  blockquote {
    font-size: 3rem;
  }
}


.link {
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 6px solid rgb(102, 102, 102);
}

#img-caption {
  font-size: 15px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 1400px) {
  .date-caption {
    font-size: 1.5rem;
  }

  .name-caption {
    font-size: 2rem;
  }
}

.header {
  float: left;
  width: 65%;
  padding: 2.5%;
  box-sizing: border-box;
}

#img-div {
  float: left;
  padding: 2.5%;
  width: 35%;
  box-sizing: border-box;
}



@media screen and (max-width: 1000px) {

  .header,
  #img-div {
    width: 100%;
    float: none;
  }

  #img-div img {
    margin: auto;
    background-color: brown;
  }
}

.first-row {
  padding: 4rem 4rem 4rem 4rem;
}

.second-row {
  color: black;
  padding: 0 5rem 4rem 5rem;
  margin-bottom: 3rem;
}

.third-row {
  color: black;
  text-align: center;
}